﻿@model User
@{
    ViewData["Title"] = "Index";
}

<div id="account-home">
    <h1 id="site-header">Crop Planner</h1>

    <p id="welcome-user">Welcome @Model.Username</p>
    <p> <a id=login-register asp-controller="Account" asp-action="LogOff">Log off</a></p>
    <p> <a asp-controller="Plot" asp-action="CreatePlot">Create A Plot That Will Be Associated With Your Username</a></p>
</div>


