﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
html {
    height: 100%;
}
body {
    /*padding-top: 50px;*/
    padding-bottom: 20px;
    height: 100%;
    background-color: lightcyan;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    height: 100%;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
/* Our stuff starts here */
h2 {
    font-family: open-sans;
}

@font-face {
    font-family: open-sans;
    src: url(../fonts/Open_Sans/OpenSans-Regular.ttf);
}

@font-face {
    font-family: roboto;
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
}


form {
    font-size: 16px;
    font-family: roboto;
    width: 100%;
}

#welcome {
    font-size: 18px;
    font-family: open-sans;
    color: darkgreen;
    text-align: center;
    grid-area: welcome;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media (min-width: 768px) {

    td {
        padding-bottom: 8px;
    }

    #login-register {
        padding-top: 8px;

    }

    #login-div {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "welc form";
        height: 100%;
        width: 100%;
        align-content: center;

    }

    #form-body {
        grid-area: form;
        padding-top: 45px;
        padding-left: 90px;
        width: 100%;
        height: 100%;
        font-size: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    #welcome {
        font-size: 36px;
        display: inline-block;
        grid-area: welc;
        border-right: 1px solid lightgray;
        height: 100%;
        width: 100%;
        padding-top: 100px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        flex-wrap: wrap;
    }

}

#account-home {
    font-family: roboto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
}

#site-header {
    font-family: open-sans;
    font-size: 36px;
    color: darkgreen;
}

#welcome-user {
    font-family: roboto;
    font-size: 16px;
}

/*#register-login-text {
    font-family: roboto;
    font-size: 16px;
    color: darkgreen;*/


#welcome-text {
    color: darkgreen;
    font-size: 16px;
    font-family: roboto;
}

.error {
    color: red;
    font-weight: bold;
}

#plot-detail {
    font-family: roboto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

h3 {
    font-family: open-sans;
    font-size: 18px;
    color: darkgreen;
}

#main-content {
    font-family: roboto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-bottom: 10px;
}

#recommendations {
    background-color: white;
    border-radius: 10px;
    font-family: roboto;
    padding: 5px;
}
.secondary-recommendations {
    background-color: white;
    border-radius: 10px;
    font-family: roboto;
    padding: 5px;
}

#plant-info {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-areas: "pic detail";
    align-content: center;
}

#plant-image {
    grid-area: pic;
}

#image {
    width: 200px;
}

#plant-details {
    grid-area: detail;
}
#plant-name {
    font-family: open-sans;
    font-size: 18px;
    color: darkgreen;
}

#plant-info {
    background-color: white;
    border-radius: 10px;
    padding: 10px;
}

.plant-info-hide {
    display: none;
}

.plant-info-show {
    display: block;
}
.hide-recommendations{
    display: none;
}
.show-recommendations{
    display: block;
}

.invalid-login ul {
    list-style-type: none;
}

.no-background {
    background-color: none;
}

#addPlot {
    padding: 0;
    border: none;
    background: none;
    color: dodgerblue; 
    font-size: 11px;
}

#view-plot-header {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-areas: "name dims";
    /*align-content: center;*/
    align-items: center;
}

#view-plot-h3 {
    grid-area: name;
}

#view-plot-dimensions {
    grid-area: dims;
    font-size: 14px;

}
.log-off-button{
    text-align: right;
    font-size: 25px;
}
#logged-in-user-h2 {
    font-size: 40px;
    color: darkgreen;
    text-align: center;
}
#Logged-In-Create-Plot-Form {
    margin-top: 200px;
}
#Logged-In-Create-Plot-Form > p {
    font-size: 25px;
    color: darkgreen;
}
#NoPlotsCreated {
    font-size: 20px;
    color: darkgreen;
    text-align: center;
}